<%- include('partials/header'); -%>

<header>
    <div>
        <img src="/smoothie.png" alt = "">
    </div>
    <div class = "headings">
        <h2>Soothies Recipes</h2>
        <h3>By Oluwaseun Adesina</h3>
        <a href="/smoothies" class="btn"> View Recipes</a>
    </div>

</header>
<%- include('partials/footer'); -%>